native/target
native/index.node
native/artifacts.json
**/*~
**/node_modules
**/.DS_Store

/dist
/node_modules

*.so
*.dylib

wrk

# Function generation artifacts
examples/*

# Do not want to track the changes for artifact files
# git update-index --assume-unchanged rust/dispatcher-agent/src/decontainerized_functions/mod.rs
# To reset:
# git update-index --no-assume-unchanged rust/dispatcher-agent/src/decontainerized_functions/mod.rs

docker/trace.json
